@import url("https://fonts.googleapis.com/css2?family=Koulen&family=League+Spartan:wght@200;300;400;500;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koulen", cursive;
}

h5 {
  text-decoration: underline;
}

body {
  background-image: url(/public/fondo.png);
  background-attachment: fixed;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 32px;
  display: flex;
}

.left-content,
.right-content {
  flex-basis: 50%;
}

.left-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 2rem;
}

.card {
  width: 300px;
  height: 50px;
  /* background-color: #B0E2FF; */
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  border-left: 10px outset #2F2F2F;
  /* border-right: 10px inset #2F2F2F; */
  position: relative;
}

.animation :hover{
  transform: matrix(1, 0, 0, 1, 0, -3.100);
}

.animation .card :hover{
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.card > img {
  width: 35%;
  padding: 10px 0 10px 0;
  position: absolute;
}

.right-content {
  width: 45%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  /* right: 10px; */
  right: 0px;
  background-color: #F23535;
  padding: 15px 0 20px 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px 0 0 8px;
  border-left: 15px outset #2F2F2F;
}

.container_img {
  margin: 3% 35% 9% 35%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid #2F2F2F
}

.container_img > img {
  margin: 1.5rem;
  height: 150px;
}

.right-content > text {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.abilities {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.abilities .group {
  color: #F2F2F2;
  font-size: 12px;
  border-radius: 8px;
  text-shadow: 0.5px 0.5px 2px black;
  margin: 0 5px 0 5px;
}

.stats {
  padding: 3px 6px 3px 6px;
  text-shadow: 0.5px 0.5px 2px black;
  border-radius: 8px;
}

.base-stat {
  margin-top: 2rem;
}

.btn-group {
  display: flex;
  margin: 0 0 1rem 0;
  transition: background-color .5s;
}

.btn-group > button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: #F2F2F2;
  background-color: #F23535;
  border-radius: 8px;
  text-shadow: 0.5px 0.5px 2px black;
  cursor: pointer;
  transition: background-color .5s;
}

.btn-group :hover {
  background-color: coral;
}

.title {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-image: url(/public/fondo_black.png);
  text-align: center;
  color: #F2F2F2;
  text-shadow: 0.5px 0.5px 2px black;
  z-index: 1000;
  padding: 5px 0 5px 0;
}

.title > img {
  width: 124px;
  transition: 0.4s transform;
}

.title > img:hover {
  transform: scale(0.97);
}

.title_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_type {
  background-color: coral;
  border-radius: 8px;
  justify-items: center;
  padding: 2px 5px 2px 5px;
  margin: 0px 5px 0px 5px;
}

.espacio {
  width: 85px;
}

.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #611380;
}

.electric {
  background: #f9be00;
}
.ground {
  background: #bfac21;
}

.fairy {
  background: #f87ea7;
}

.fighting {
  background: #e81319;
}
.psychic {
  background: #8a0532;
}

.ghost {
  background: #8e55a4;
}
.rock {
  background: #776a3e;
}
.ice {
  background: #66d1e5;
}
.flying {
  background: #5eb9b2;
}
.dark {
  background: #2d221c;
}

.dragon {
  background: #29036a;
}

.steel {
  background: #7b8e8a;
}
.unknown {
  background: #454545;
}

.shadow {
  background: #4f4f4f;
}
